{% extends "base_generic.html" %}

{% block content %}
    {% if book %}
        <h2>{{ book.title }}</h2>
        {% if user_has_access %}
            <div>
                {% load static %}
                <embed src="{% static book.file_path %}" width="800px" height="800px"/>
            </div>
        {% else %}
            <h3>
                You do not have this book yet. 
                You can <a href="{% url 'buy' %}?id={{ book.id }}">buy it.</a>
            </h3>
        {% endif %}
    {% else %}
        <h1> Book is not availiable. </h1>
    {% endif %}
{% endblock %}